﻿@import './sanfrancisco-font.css';

@media all {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'SF Display';
        font-size: 1em;
    }

    .head {
        background-image: url(../img/head-background.png);
        background-size: auto;
        background-position-x: center;
        background-position-y: top;
        background-color: #1F1F2B;
    }

    .container {
        display: grid;
        width: fit-content;
        max-width: 1024px;
        margin: auto;
        height: 100%;
        grid-auto-rows: auto;
        grid-template-rows: 0.5fr;
        grid-gap: 15px;
        padding: 40px 10px 0;
    }

        .container .row.date {
            flex-direction: column;
        }

        .container .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

            .container .row .col {
                text-align: center;
                margin: 10px auto;
                color: #FFF;
            }

            .container .row .col-1 {
                width: 100%;
            }

        .container .logo-container {
            align-items: flex-start;
        }

            .container .logo-container .logo {
                margin-bottom: 1.5em;
            }

        .container .ht {
            line-height: normal;
            font-size: 24px;
            text-align: center;
            color: #FF1744;
            font-weight: 800;
        }

        .container .ht-2 {
            line-height: normal;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
        }

        .container .ht-3 {
            line-height: normal;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
        }

        .container .counter {
            display: flex;
            justify-content: center;
            text-align: center;
        }

            .container .counter span {
                font-size: 36px;
                color: #FFF;
                background: rgba(255,255,255,.2);
                margin: 1px;
                width: 40px;
                height: 46px;
                text-align: center;
                line-height: 46px;
            }

    .btn {
        background-image: url(../img/btn-bg.png);
        width: 270px;
        text-align: center;
        line-height: 45px;
        background-repeat: no-repeat;
        color: #FFF;
        text-decoration: none;
        background-size: cover;
    }

    .how-to {
        height: 100vh;
    }

    .swift-item{
        display: flex;
        align-items: center;
    }

    .swift-item .swift-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .head {
        height: 100vh;
        background-image: url(../img/head-background.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        background-color: #1F1F2B;
        padding-top: 40px;
    }

    .container {
        display: grid;
        width: fit-content;
        margin: auto;
        height: 100%;
        grid-auto-rows: auto;
        grid-template-rows: 0.5fr;
        grid-gap: 5px;
        padding: 0;
    }

        .container .row.date {
            flex-direction: row;
        }

        .container .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

            .container .row .col {
                text-align: center;
                margin: 20px 50px;
                color: #FFF;
            }

        .container .logo-container {
            justify-content: space-between;
            align-items: flex-start;
        }

            .container .logo-container .logo {
                margin-bottom: 1.5em;
            }

        .container .ht {
            line-height: normal;
            font-size: 40px;
            text-align: center;
            color: #FF1744;
            font-weight: 500;
        }

        .container .ht-2 {
            line-height: normal;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
        }

        .container .ht-3 {
            line-height: normal;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
        }

        .container .counter {
            display: flex;
            justify-content: center;
            text-align: center;
        }

            .container .counter span {
                font-size: 36px;
                color: #FFF;
                background: rgba(255,255,255,.2);
                margin: 1px;
                width: 40px;
                height: 46px;
                text-align: center;
                line-height: 46px;
            }

    .btn {
        background-image: url(../img/btn-bg.png);
        width: 270px;
        text-align: center;
        line-height: 45px;
        background-repeat: no-repeat;
        color: #FFF;
        text-decoration: none;
        background-size: cover;
    }
}
