html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}
.grid-view .table-participant  td{
    white-space: normal;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

/* user options */
.product-list{
    margin-bottom: 30px;
}
.product-item{
    box-shadow: 0 1px 1px #ccc;
    padding: 10px 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    min-height: 360px;
}
.product-index.alt .product-item{
    min-height: 300px;
}
.product-item .thumb{
    display: block;
    height: 200px;
}
.product-item .thumb img{
    height: 100%;
    margin: 0 auto;
}
.product-item .product-name{
    margin-bottom: 5px;
}
.product-item .product-name > span{
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.product-item .product-price{
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}
.product-item .product-price .symbol-price{
    line-height: 5px;
    width: 0.4em;
    border-bottom: 1px solid #000;
    display: inline-block;
}
.product-item .btn-choice, .product-item .btn-choice-dis{
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40%;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    text-align-last: center;
    padding: 0 65px;
    border: 1px solid #ced900;
    border-radius: 40px;
    margin-top: 15px;
    text-decoration-line: none;
    cursor: pointer;
    position: relative;
}
.product-item .loader{
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 100;
    width: 100%;
    height: 45px;
    background-color: #fff;
    background-image: url('../images/loader.gif');
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: none;
}
#download-block .loader{
    margin: 50px auto 0;
    width: 100px;
    height: 45px;
    background-image: url('../images/loader.gif');
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: none;
}
.product-item .btn-choice.active, .product-item .btn-choice-dis.active{
    background-color: #ced900;
    color: #fff;
    z-index: 100;
}
.product-item .btn-choice::before, .product-item .btn-choice-dis::before{
    content: "";
    height: 24px;
    width: 24px;
    display: block;
    border: 1px solid #ced900;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -12px;
    transition: all 0s;
    background-color: #fff;
}
.product-item .btn-choice.active::before, .product-item .btn-choice-dis::before{
    cursor: pointer;
    border-color: #8c9300;
    background-image: url('../images/bg-button.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.index-race{
    display: inline-block;
    float: none !important;
    vertical-align: top;
    margin-left: -3px;
}
.race-item{
    box-shadow: 0 1px 1px #ccc;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 300px;
}
.race-item .tit
{
    margin: 10px 0 15px 0;
}
.race-item .info-race h4{
    margin: 0 0 5px 0;
    font-size: 15px;
}
.race-item .info-text{
    border-bottom: 1px solid lightskyblue;
    margin: 6px 0;
    padding-bottom: 10px;
}
.race-item.detail .info-text{
    margin-bottom: 10px;
}
.race-item .info-race > .info-text:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.race-item .thumbnail{
    float: left;
    margin-right: 10px;
    width: 210px;
    height: 210px;
    background-color: lightskyblue;
    background-image: url("../images/default_thumb.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.race-item .thumbnail img{
    height: 100%;
}
.race-item.detail .thumbnail {
    margin-bottom: 0;
}
.race-item .info-text span{
    font-size: 14px;
}
.race-item .info-text .btn-success{
    margin-right: 5px;
}
.race-item .desc-race{
    clear: left;
}
span.mgr{
    display: block;
    text-align: left;
    padding: 5px 0;
    font-weight: bold;
}
p.mgr-p{
    margin: 0;
}

.title-race-detail{
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.race-item.detail{
    min-height: auto;
    box-shadow: none;
    margin-bottom: 0;
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #337ab7;
    color: #fff;
    outline: none;
}

.table-users-list td{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 16px;
}
.table-users-list thead td {
    color: #fff;
    background: #5C5C76;
}
.table-users-list tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}
.code-status{
    display: none;
    padding-left: 10px;
}
.code-status.active{
    display: block;
}
.pay-link{
    padding: 5px;
    margin-top:5px;
    display:block
}
.strava-tracks{
    margin-top: 20px
}
.strava-tracks em{
    display: block;
    padding-bottom: 15px;
}

/* .list-group-item:hover{
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    border-top-color: #fff;
    border-bottom-color: #fff;
} */
 .list-group-item:hover a{
     text-decoration: underline;
}
.list-group-item a{
    display: block;
}
.list-group-item.active a{
    color: #fff;
    text-decoration: none;
}
.check-track input{
    opacity: 0;
}
.check-track label{
    height: 24px;
    width: 24px;
    display: block;
    border: 1px solid #ced900;
    cursor: pointer;
    margin: -20px auto 0;
}
.check-track input:checked + label{
    border-color: #8c9300;
    background-image: url('../images/bg-button.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.strava-tracks .btn-add-track{
    display: block;
}
.label.alt{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    white-space: pre-line;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.tab-content .empty {
    padding-left: 20px;
    padding-top:  15px;
}
